.outerCard {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width:120%;
    height:200%;
    padding: 30px;
    
    /* margin-left: 190px; */
    /* padding-left: 250px; */
  }
  